#board {
    display: block;
    width: 400px;
    height: 400px;
    background-color: black;
    margin: 20px auto;
    cursor: crosshair; /* Muda o cursor para uma cruz ao passar sobre a lousa */
}
